#countdown {
    display: inline-block;
    width: auto;
    margin: 2em;
}


#digitContainer, #buttonContainer {
    text-align: center;
}


#digitContainer {
    margin-top: 15%;
}


#resetButton {
    display: none;
}
